

/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIABLES */

$purple: #666CA3;
$blue-dark: #13183F;
$gray: #83869A;
$pink-bright: #F74780;
$grad-orange-pink: linear-gradient(0deg, #F02AA6, #FF6F48);
$grad-purple-pink: linear-gradient(180deg, #4851FF -54.32%, #F02AA6);


/* TYPOGRAPHY */

@font-face {
    font-family: Plus Jakarta Sans;
    src: url(/assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

body {
    font-family: Plus Jakarta Sans;
    font-size: 16px;
}

a {
    color: white;
    font-weight: 700;
    text-decoration: none;
}

h1 {
    font-size: 2.5rem;
    font-weight: 800;
    color: $blue-dark;
}

.hero-text p {
    font-weight: 500;
    color: $gray;
    line-height: 1.625rem;
}

.introduction {
    color: white;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 2rem;
}

.course h3 {
    color: $blue-dark;
    font-size: 1.25rem;
    font-weight: 800;
    line-height: 1.575rem;
}

.course p {
    line-height: 1.625rem;
    font-weight: 500;
    color: $gray;
}

.course a {
    color: $pink-bright;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.75rem;
    
}

/* LAYOUT */

header,
.hero,
.introduction,
.course {
    width: 91.5%;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}


header img {
    width: 26.5%;
}

a {
    display: inline-block;
    
}

header a {
    background-color: $blue-dark;
    padding: 0.844rem 1.51rem;
    border-radius: 50px;
}

main {
    margin-top: 2rem;
}

.hero-text p {
    margin-top: 1rem;
}

.hero-text a {
    background: $grad-orange-pink;
    margin-top: 1rem;
    padding: 1.1rem 2.35rem;
    border-radius: 50px;
}

.hero-image img {
    width: 116%;
    margin-top: 1rem;
    margin-left: 50%;
    transform: translateX(-50%);
}

.courses {
    background: linear-gradient(0deg, #f0f1ff, #FFFFFF);
    padding-bottom: 4.5rem;
}

.introduction {
    background: $grad-orange-pink;
    padding: 1.75rem;
    border-radius: 10px;
}

.course {
    background-color: white;
    margin-top: 2.2rem;
    padding: 0 1.785rem;
    border-radius: 10px;
    position: relative;
    height: 275px;
}

.course-icon {
    margin-left: 0rem;
    margin-top: -1.5rem;
}

.course h3 {
    margin-top: 1rem;
}

.course p {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.course a {
    margin-top: auto;
    margin-bottom: 2rem;
    position: absolute;
    bottom: 0;
}

footer {
    background-color: $blue-dark;
    padding: 2.25rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer img {
    width: 26%;
}

footer a {
    background: $grad-purple-pink;
    border-radius: 50px;
    padding: 0.5625rem 1.5rem;
}

@media (min-width: 650px) {
    
    html,
    body {
        max-width: 100%;
        overflow-x: hidden;
    }

    header img {
        width: 13%;
    }

    .hero {
        display: flex;
        align-items: center;
        position: relative;
        height: 500px;
    }

    .hero-text {
        width: 57%;
    }

    .hero-image img {
        width: 100%;
        position: absolute;
        top: -35%;
        left: 48%;
    }

    .courses {
        margin-top: 4rem;
        display: flex;
        flex-wrap: wrap;
    }

    .introduction,
    .course {
        width: 45%;
        margin-top: 3.5rem;
    }

    .introduction {
        padding-top: 3.5rem;
    }

    footer {
        padding: 2.68rem 2.04rem;
        align-items: center;
    }

    footer img {
        width: 12.8%
    }

    footer a {
        padding: 0.85rem 1.5rem;
    }
}

@media (min-width: 1200px) {
    
    

    header,
    .hero,
    .introduction {
        width: 76.9736%;
        margin: 0 auto;
    }

    header {
        margin-top: 2.4218rem;
    }

    header img {
        width: 10.1%;
    }

    header a {
        padding: 1.1rem 2.36rem;
    }

    header a:hover {
        cursor: pointer;
        background-color: $purple;
    }

    h1 {
        font-size: 3.5rem;
    }

    .hero {
        margin-top: 7rem;
    }

    .hero-text p {
        font-size: 1.125rem;
        margin-top: 1.8125rem;
        width: 70%;
    }

    .hero-text a {
        margin-top: 2.5rem;
    }

    .hero-text a:hover {
        cursor: pointer;
        background: linear-gradient(0deg, rgba(255,255,255,0.5), rgba(255,255,255,0.5)), 
                    $grad-orange-pink;
    }

    .hero img {
        width: 95%;
        position: absolute;
        top: -75%;
        left: 50%;
        z-index: -1;
    }

    .courses {
        padding: 0 10.3125rem 4.5rem 10.3125rem;
        gap: 30px;
    }

    .introduction,
    .course {
        width: 31%;
        margin: 0;
    }

    .course a:hover {
        color: #FFA7C3;
    }

    footer {
        padding: 2rem 10.3125rem;
    }

    footer a:hover {
        background: linear-gradient(0deg, rgba(255,255,255,0.5), rgba(255,255,255,0.5)),
                    $grad-purple-pink;
    }
}


